:root {
  --color-1: #5D2A42;
  --color-errors: #FB6376;
  --color-text: #FCB1A6;
  --color-4: #FFDCCC;
  --color-bg: #FFF9EC;
}

:root {
  --color-1: #442B48;
  --color-errors: #726E60;
  --color-text: #98B06F;
  --color-4: #B6DC76;
  --color-bg: #DBFF76;
}


 body {
padding: 0;
margin: 0;
box-sizing: border-box;
user-select: none;
}
