.border{
   display: flex;
   justify-content: center;
   height: 100vh;
   padding: 15px 0px;
 }

.mainBord{
    width: 400px;
    border: 2px solid black; /* Adjust the border thickness and color as needed */
    display: flex;
    justify-content: center;
   
}