/* login.module.css */

.mainContainer {
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    background-color: #f0f0f0; 
    height: 100vh;
  }
  
  .formWrapper {
    background: #fff; /* Optional: background color for the form wrapper */
    padding: 2rem;
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for better visibility */
    height: 260px;
   
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between form elements */
  }
  
  button {
    background-color: #007bff; /* Primary button color */
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .error-message {
    color: red;
  }
  