.mainForm{
    padding: 80px 0px;
    display: flex;
    justify-content: center;
   }

   .card{
    width:200px;
    height:190px;
    background: rgb(0, 183, 255);
    
   }

   .btnlogin{
    width: 50%;
    font-size: 16px;
   }

   .btnregister{
    width: 50%;
    font-size: 16px;
   }